.dimensionsAndPositionTextArea {
    white-space: nowrap;
    position: absolute;
    top: 0rem;
    width: 100%;
    height: 100%;
    margin: 0%;
    resize: none;
}

.buttonPositioning {
    top: 2%;
    position: absolute;
    right: 1%;
}